{% extends 'base2.html' %}
{% block title %}
    Your Shopping Cart
{% endblock %}
{% load staticfiles %}
{% block body %}


<div class="container">
<div class="col-12">
<div class="row">


    <p>Your Products
    <br>
            <span class="">

                    {% if cart|length > 0 %}
                        My Shopping Order:
                        <a href=" style="color: #ffffff">
                            {{ totail_items }} item {{ totail_items|pluralize }}, Kshs. {{ cart.get_total_price }}
                        </a>
                        {% else %}

                       Total : {{total_items}}<br>

                      Price : {{total_price}} <br>



                    {% endif %}

            </span>
        </p>










<div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Item</th>
          <th>Unit Price</th>
          <th>Total Price</th>
          <th>Remove</th>

        </tr>
      </thead>
      <tbody>


        {% if meal_total %}
 {% for i in meal_total %}
        <td>

        <b>Meal:</b> {{i.Menu}}<br>
        <b>Restaurant:</b> {{i.real_restaurant}} <br>
        <b>Location:</b> {{i.location}} <br>

        <b>Brand:</b> {{i.Brand}} <br>
        <b>Size:</b> {{i.Size}} <br>
        <b>Quantity:</b> {{i.quantity}} <br>
        <br>

<!--          <img src="{{i.image.url}}" width="100px;" height="100px;"> -->
        </td>
        <td>#{{i.price}}</td>
        <td>#{{i.Total_price}}</td>
        <td><a href="{% url 'order:delete_mealcart' i.id %}">Remove</a></td>
        </tbody>

{% endfor %}
{% endif %}


{% if cinema_total %}
 {% for i in cinema_total %}

        <td colspan="">
        <b>MOVIE:</b> {{i.movie}}<br>
        <b>CINEMA:</b> {{i.cinema_name}} <br>
        <b>LOCATION:</b> {{i.location}} <br>
        <b>RATING:</b> {{i.rating}} <br>
        <b>DATE:</b> {{i.date}} <br>
        <br>

<!--          <img src="{{i.image.url}}" width="100px;" height="100px;"> -->
        </td>
        <td>#{{i.price}}</td>
        <td>#{{i.price}}</td>
        <td><a href="{% url 'order:delete_cinemascart' i.pk %}">Remove</a></td>
        </tbody>

{% endfor %}
{% endif %}


{% if salon_total %}
 {% for i in salon_total %}
        <tbody style="padding-bottom: 10px;">
        <td colspan="2">
        <b>STYLE:</b> {{i.style}}<br>
        <b>SALON:</b> {{i.name}} <br>
        <b>GENDER:</b> {{i.gender}} <br>
        <b>DATE:</b> {{i.date}} <br>
        <br>

<!--          <img src="{{i.image.url}}" width="100px;" height="100px;"> -->
        </td>
        <td>#{{i.price}}</td>
        <td><a href="{% url 'order:delete_salon_cart' i.pk %}">Remove</a></td>
        </tbody>

{% endfor %}
{% endif %}






{% if single_total %}
 {% for i in single_total %}
        <tbody style="padding-bottom: 10px;">
        <td colspan="">
        <b>COMEDY:</b> {{i.name}}<br>
        <b>CATEGORY:</b> {{i.category}} <br>
        <b>VENUE:</b> {{i.venue}} <br>
        <b>DATE:</b> {{i.date}} <br>
        <br>

<!--          <img src="{{i.image.url}}" width="100px;" height="100px;"> -->
        </td>
        <td>#{{i.singles_price}}</td>

        <td> #{{i.singles_price}}</td>

        <td><a href="{% url 'order:delete_comedy_singlecart' i.pk %}">Remove</a></td>
        </tbody>

{% endfor %}
{% endif %}



{% if double_total %}
 {% for i in double_total %}
        <tbody style="padding-bottom: 10px;">
        <td colspan="">
        <b>COMEDY:</b> {{i.name}}<br>
        <b>CATEGORY:</b> {{i.category}} <br>
        <b>VENUE:</b> {{i.venue}} <br>
        <b>DATE:</b> {{i.date}} <br>
        <br>

<!--          <img src="{{i.image.url}}" width="100px;" height="100px;"> -->
        </td>
        <td>#{{i.double_price}}</td>
        <td>#{{i.double_price}}</td>
        <td><a href="{% url 'order:delete_comedy_doublecart' i.pk %}">Remove</a></td>
        </tbody>

{% endfor %}
{% endif %}





{% if round_total %}
 {% for i in round_total %}
        <tbody style="padding-bottom: 10px;">
        <td colspan="">
        <b>COMEDY:</b> {{i.name}}<br>
        <b>CATEGORY:</b> {{i.category}} <br>
        <b>VENUE:</b> {{i.venue}} <br>
        <b>DATE:</b> {{i.date}} <br>
        <br>

<!--          <img src="{{i.image.url}}" width="100px;" height="100px;"> -->
        </td>
        <td>#{{i.round_table_price}}</td>
        <td>#{{i.round_table_price}}</td>
        <td><a href="{% url 'order:delete_comedy_round_tablecart' i.pk %}">Remove</a></td>
        </tbody>

{% endfor %}
{% endif %}


{% if vip_total %}
 {% for i in vip_total %}
        <tbody style="padding-bottom: 10px;">
        <td colspan="">
        <b>COMEDY:</b> {{i.name}}<br>
        <b>CATEGORY:</b> {{i.category}} <br>
        <b>VENUE:</b> {{i.venue}} <br>
        <b>DATE:</b> {{i.date}} <br>
        <br>

<!--          <img src="{{i.image.url}}" width="100px;" height="100px;"> -->
        </td>
        <td>#{{i.vip_table_price}}</td>
        <td>#{{i.vip_table_price}}</td>
        <td><a href="{% url 'order:delete_comedy_vip_tablecart' i.pk %}">Remove</a></td>
        </tbody>

{% endfor %}
{% endif %}




{% if celeb %}
 {% for i in celeb %}
        <tbody style="padding-bottom: 10px;">
        <td colspan="2">
        <b>CATEGORY :</b>MOVIE CELEBRITIES BID<br>
         <b>NAME OF CELEBRITY:</b> {{i.celeb}}<br>
   <!--      <b>AMOUNT:</b> #{{i.amount}} <br> -->
<!--         <b>VENUE:</b> {{i.venue}} <br>
        <b>DATE:</b> {{i.date}} <br> -->
        <br>

<!--          <img src="{{i.image.url}}" width="100px;" height="100px;"> -->
        </td>
        <td>#{{i.amount}}</td>
        <td><a href="{% url 'order:delete_celeb' i.id %}">Remove</a></td>
        </tbody>

{% endfor %}
{% endif %}





{% if music %}
 {% for i in music %}
        <tbody style="padding-bottom: 10px;">
        <td colspan="2">
        <b>CATEGORY :</b>MUSIC CELEBRITIES BID<br>
         <b>NAME OF CELEBRITY:</b> {{i.celeb}}<br>
<!--         <b>AMOUNT:</b> #{{i.amount}} <br> -->
<!--         <b>VENUE:</b> {{i.venue}} <br>
        <b>DATE:</b> {{i.date}} <br> -->
        <br>

<!--          <img src="{{i.image.url}}" width="100px;" height="100px;"> -->
        </td>
        <td>#{{i.amount}}</td>
        <td><a href="{% url 'order:delete_music' i.id %}">Remove</a></td>
        </tbody>

{% endfor %}
{% endif %}





{% if business %}
 {% for i in business %}
        <tbody style="padding-bottom: 10px;">
        <td colspan="2">
        <b>CATEGORY :</b>BUSINESS CELEBRITIES BID<br>
         <b>NAME OF CELEBRITY:</b> {{i.celeb}}<br>
<!--         <b>AMOUNT:</b> #{{i.amount}} <br> -->
<!--         <b>VENUE:</b> {{i.venue}} <br>
        <b>DATE:</b> {{i.date}} <br> -->
        <br>

<!--          <img src="{{i.image.url}}" width="100px;" height="100px;"> -->
        </td>
        <td>#{{i.amount}}</td>
        <td><a href="{% url 'order:delete_business' i.id %}">Remove</a></td>
        </tbody>

{% endfor %}
{% endif %}






{% if tv %}
 {% for i in tv %}
        <tbody style="padding-bottom: 10px;">
        <td colspan="2">
        <b>CATEGORY :</b>TV HOST CELEBRITIES BID<br>
         <b>NAME OF CELEBRITY:</b> {{i.celeb}}<br>
<!--         <b>AMOUNT:</b> #{{i.amount}} <br> -->
<!--         <b>VENUE:</b> {{i.venue}} <br>
        <b>DATE:</b> {{i.date}} <br> -->
        <br>

<!--          <img src="{{i.image.url}}" width="100px;" height="100px;"> -->
        </td>
        <td>#{{i.amount}}</td>
        <td><a href="{% url 'order:delete_tvhost' i.id %}">Remove</a></td>
        </tbody>

{% endfor %}
{% endif %}

<tr style="font-size:20px;"><td><b>Total</b></td><td></td>
 <td></td>
 <td><b>{{total_price}}</b></td>

</tr>





      </tbody>
    </table>
    <p><b>For mobile phones, swipe left to see full table.</b></p>
              <p class="text-right">
<a href="{% url 'order:generatepdf' %}" class="btn btn-primary">Generate Pdf</a>
        </p>


</div>

</div>
</div>
</div>
  {% endblock %}
